recentf~
/elisp/*
tramp
/elpa
/auto-save-list
/newsticker
bookmarks
/eshell
gtd.org
/pyim
/transient
/packages
recentf
.cache
.lsp*
lsp*
projectile-bookmarks.eld
projects
projectile.cache
places
/var/*
/url/*